@use "../SCSS/global.scss" as *;
@use "../SCSS/mixin" as *;

.headerContainer {
  @include headerContainer();
  display: flex;
  align-items: center;
}

ul {
  li {
    @include flex-display;
    gap: 2rem;
    margin-left: 61px;
    height: 38px;
    left: 61px;
    a {
      color: $colorWhite;
      width: 165px;
      height: 38px;
      left: 61px;
      top: 29px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 38px;

      &:focus{
        @include flex-display-container;
        justify-content: center;
        align-items: center;
        background-color: $colorWhite;
        color: $headerColor;
        width: 190px;
        height: 54px;
        font-size: 25px;
        line-height: 38px;
        left: 265px;
        top: 20px;
        border-radius: 10px 10px 0px 0px;
        transition: 0.2s;
        a {
          color: $headerColor;
        }
      }
    }
  }
}



@media (max-width: 480px) {
  .headerContainer {
    display: flex;
    width: 100%

  }
  ul {
    display: flex;
    li {
      display: flex;
      margin: 0;
      width: 320px;


      a {
        display: flex;
        justify-content: center;
        color: $colorWhite;
        width: 100%;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 38px;
  
        &:focus{
          @include flex-display-container;
          justify-content: center;
          align-items: center;
          background-color: $colorWhite;
          color: $headerColor;
          width: 100%;
          height: 54px;
          font-size: 16px;
          line-height: 38px;
          left: 265px;
          top: 20px;
          border-radius: 10px 10px 0px 0px;
          transition: 0.2s;
          a {
            color: $headerColor;
          }
        }
      }
    }
  }
} 